build/
cmake-build-*/
.idea/
.vscode/
*.o
*.a
*.so
*.out
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
_codeql_build_dir/
_codeql_detected_source_root
